# Environment files
.env

# Python cache
__pycache__/
*.py[cod]

# Build / distribution
build/
dist/

*.db
*.db-shm
*.db-wal

# Data dumps
*.db
*.sqlite
*.csv

# IDE settings
.vscode/
.idea/

# Byte-compiled / optimized
*.egg-info/
*.egg
